<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Walnut House</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <link rel="stylesheet" href={{ asset('assets/css/styles-merged.css') }}>
    <link rel="stylesheet" href={{ asset('assets/css/style.css') }}>    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src={{ asset('assets/js/jquery.fn.js') }}></script>

    <!--[if lt IE 9]>
      <script src={{ asset('assets/js/vendor/html5shiv.min.js') }}></script>
      <script src={{ asset('assets/js/vendor/respond.min.js') }}></script>
    <![endif]-->

  </head>
  <body>

    <!-- Fixed navbar -->
    
    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html" title="uiCookies:FineOak">FineOak</a>
        </div>

        {% include 'parts/menu/' ~ userRole ~ '.twig' %}
      </div>
    </nav>

    
    <section class="probootstrap-section probootstrap-bg-white" data-section="welcome" style="min-height: 1080px">
      <div class="container" style="padding-top: 70px;">
        <div class="row">
            <div class="col-md-3 text-left" style="padding-left: 0">
            <table class="table wh-table" style="cursor: pointer; width: 100%; margin: 0px">
              <tr class="wh-head" style="border-left: 1px solid #ddd">
                <th style="font-size: 18px">Гнатюк Ярослав</th>
              </tr>
              <tr data-office-id={{ office.id }}>
                <th style="border-left: 1px solid #ddd; padding: 15px" class="wh-name">Персональні дані</th>
              </tr>
              <tr data-office-id={{ office.id }}>
                <th style="border-left: 1px solid #ddd; padding: 15px" class="wh-name">Відгуки</th>
              </tr>
              <tr data-office-id={{ office.id }}>
                <th style="border-left: 1px solid #ddd; padding: 15px" class="wh-name">Акції</th>
              </tr>
              <tr data-office-id={{ office.id }}>
                <th style="border-left: 1px solid #ddd; padding: 15px" class="wh-name">Бали та промокоди</th>
              </tr>
            </table>
            <hr class="bottom-table-border"/>
            </div>
            <div class="col-md-9 text-left" style="padding-right: 0">
                <img src={{ asset('assets/img/pr.png') }} />
            </div>
        </div>
      </div>
    </section>

    <script src={{ asset('assets/js/scripts.min.js') }}></script>
    <script src={{ asset('assets/js/custom.min.js') }}></script>

  </body>
</html>