<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Горіховий Дім</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <link rel="stylesheet" href={{ asset('assets/css/styles-merged.css') }}>   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src={{ asset('assets/js/app.js') }}></script>
    <script src={{ asset('assets/js/spop.js') }}></script>

    <!--[if lt IE 9]>
      <script src={{ asset('assets/js/vendor/html5shiv.min.js') }}></script>
      <script src={{ asset('assets/js/vendor/respond.min.js') }}></script>
    <![endif]-->

  </head>
  <body>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width: 765px; margin: 5% auto">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="float: left; padding: 35px 10px 20px 20px; margin: 0;">
                <div class="col-md-6">
                    <img style="width: 338px" id="modal-dish-image" src="/views/assets/dishes/38.jpg?version=v1"/>
                </div> 
                <div class="col-md-6 col-sm-6 text-left" style="font-size: 13px; font-weight: normal">
                    <div class="col-md-12 text-left" style="padding-left: 0">
                        <h3 style="padding: 0; margin: 0;" id="modal-dish-name">Борщ</h3>
                    </div>
                    <div class="col-md-12" id="modal-dish-feedback" style="padding: 0px; overflow: auto; height: 250px">
                      
                    </div>
                    <div class="col-md-12 text-left" style="margin-top: 10px; padding-left: 0px">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="border: 1px solid #ccc">Закрити</button>
                    </div>
                </div>            
            </div>
            <div class="modal-footer" style="margin: 0; visibility: hidden;">
                <!--  -->
            </div>
        </div>
        
    </div>
    </div>

    <!-- Fixed navbar -->
    
    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar scrolled">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/order" ></a>
        </div>

        {% include 'parts/menu/' ~ userRole ~ '.twig' %}
        </div>
    </nav>

    <section class="probootstrap-section probootstrap-bg-white" data-section="welcome">
      <div class="container">
        <div class="row">
            {% if selectedYear is not null and selectedWeek is not null %}
                {% if selectedYear >= currentYear and selectedWeek >= currentWeek %}
                    <div class="col-md-12 text-right" style="padding-right: 0; display: none" id="editable-menu-header">
                        <input id="save-menu" name="edit_menu" value="Завершити редагування" class="btn btn-info" type="button">
                    </div>
                    <div class="col-md-12 text-right" style="padding-right: 0" id="menu-header">
                        <input id="edit-menu" name="edit_menu" value="Редагувати меню" class="btn btn-primary" type="button">
                    </div>
                {% else %}
                    <div class="col-md-12 text-right" style="padding-right: 0">
                        <input value="Редагувати меню" class="btn btn-primary" type="button" disabled=true>
                    </div>
                {% endif %}
            {% else %}
                <div class="col-md-12 text-right" style="padding-right: 0; display: none" id="editable-menu-header">
                    <input id="save-menu" name="edit_menu" value="Завершити редагування" class="btn btn-info" type="button">
                </div>
                <div class="col-md-12 text-right" style="padding-right: 0" id="menu-header">
                    <input id="edit-menu" name="edit_menu" value="Редагувати меню" class="btn btn-primary" type="button">
                </div>
            {% endif %}

            <br/><br/><br/>

            <table class="table wh-table" style="margin: 0" id="menu-table">
                <tr class="wh-head">
                    <th>  
                        <ul class="pager">
                            <li><a href="/menu" class="btn btn-default" style="color: rgba(0, 0, 0, 0.7);"><b>Сьогодні</b></a></li>
                            <li><a href="/menu?year={{period.prev.year}}&week={{period.prev.week}}" class="btn"><</a></li>
                            <li class="date-range" data-start="{{ period.start.date }}" data-end="{{ period.end.date }}">{{ period.start.day }} - {{ period.end.day }}</li>
                            <li><a href="/menu?year={{period.next.year}}&week={{period.next.week}}" class="btn">></a></li>
                        </ul>
                    </th>
                    <th class="wh-rating" style="padding-top: 20px">Рейтинг</th>
                    <th class="wh-reviews" style="padding-top: 20px">Відгуки</th>
                    <th class="wh-actions" style="display: none"></th>
                </tr>

            {% for group in dishes %}
                <tr>
                    <th colspan="4" class="wh-group-name">
                      <div>{{ group.name}}</div>
                    </th>
                </tr>
                {% for dish in group.dishes %}
                <tr class="menu-item" data-dish-id={{ dish.id }} data-menu-id="{{ dish.menu.menu_id }}" {% if dish.menu.menu_id is not defined %} {{'style="display: none"'}} {% endif %}>
                    <th class="wh-name feedback-link" data-dish-id="{{dish.id}}" data-dish-name="{{dish.name}}" data-dish-image="{{ asset('assets/dishes/' ~ dish.id ~ '.jpg') }}">{{ dish.name }}</th>
                    <th class="wh-rating">
                      <div>
                        {% for i in 1..5 %}
                          {% if dish.rating >= i %}
                            <span style="color: #FFA33E;">★</span>
                          {% else %}
                            <span>☆</span>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </th>
                    <th class="wh-reviews"><a class="feedback-link" data-dish-id="{{dish.id}}" data-dish-name="{{dish.name}}" data-dish-image="{{ asset('assets/dishes/' ~ dish.id ~ '.jpg') }}">відгуків: {{dish.feedback_count}}</a></th>
                    <th class="wh-actions menu-action" style="display: none">
                      <label class="switch">
                        <input type="checkbox" {% if dish.menu is defined %} {{'checked=true'}} {% endif %}>
                        <span class="slider round"></span>
                      </label>
                    </th>
                </tr>
                {% endfor %}
            {% endfor %}
            </table>
            
            <hr class="bottom-table-border"/>
      </div>
    </section>

  </body>
</html>