<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Горіховий Дім</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href={{ asset('login/assets/bootstrap/css/bootstrap.min.css') }}>
        <link rel="stylesheet" href={{ asset('login/assets/font-awesome/css/font-awesome.min.css') }}>
		<link rel="stylesheet" href={{ asset('login/assets/css/form-elements.css') }}>
        <link rel="stylesheet" href={{ asset('login/assets/css/style.css') }}>

        <script src={{ asset('assets/js/spop.js') }}></script>
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href={{ asset('login/assets/ico/favicon.png') }}>
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href={{ asset('login/assets/ico/apple-touch-icon-144-precomposed.png') }}>
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href={{ asset('login/assets/ico/apple-touch-icon-114-precomposed.png') }}>
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href={{ asset('login/assets/ico/apple-touch-icon-72-precomposed.png') }}>
        <link rel="apple-touch-icon-precomposed" href={{ asset('login/assets/ico/apple-touch-icon-57-precomposed.png') }}>

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-9 form-box" >
                            <div style="text-align: left; background-color: #fff; padding: 35px">
                                <article class="main sixteen columns">
                                <div></div>
                            <span id="startOfPageId328"></span>

                            <div id="k2Container" class="itemView">
                                <div class="itemHeader">
                                    </div>
                                <div class="itemToolbar">
                                    <ul>
                                                </ul>
                                    <div class="clr"></div>
                            </div>
                            <div class="itemBody">
                                <div class="itemFullText">
                                    <h2 style="text-align: center;">ЗГОДА НА ОБРОБКУ ПЕРСОНАЛЬНИХ ДАНИХ</h2>
                                    <p>&nbsp;</p>
                                    <p>Даною угодою Користувач сайту <a href="https://lunch.walnut.house"></a><a href="https://lunch.walnut.house">https://lunch.walnut.house</a> шляхом прийняття її умов при натисканні кнопки «З умовами угоди ознайомлений» відповідно до Закону України «Про захист персональних даних» надає згоду на обробку персональних даних (в тому числі, але не виключно, паспортних даних, особистих фото, біографічних даних та ін.) за допомогою автоматизованої системи авторизації з метою внесення до бази персональних даних зареєстрованих Користувачів сайту <a href="https://lunch.walnut.house"></a><a href="https://lunch.walnut.house">https://lunch.walnut.house</a>.</p>
                                    <p>Обробка, зберігання, використання та поширення персональних даних, внесених до бази персональних даних зареєстрованих Користувачів сайту <a href="https://lunch.walnut.house"></a><a href="https://lunch.walnut.house">https://lunch.walnut.house</a>, здійснюється з дотриманням вимог Закону України «Про захист персональних даних».</p>
                                    <p>Користувач сайту <a href="https://lunch.walnut.house"></a><a href="https://lunch.walnut.house">https://lunch.walnut.house</a> ознайомлений з правами суб'єкта персональних даних, передбаченими ст.&nbsp;8 Закону України «Про захист персональних даних».<span style="font-size: 12pt; font-family: 'Times New Roman', serif;"></span></p>
                                    <p>&nbsp;</p>
                                    <h2 style="text-align: center;">УМОВИ ВИКОРИСТАННЯ САЙТУ</h2>
                                    <p>&nbsp;</p>
                                    <p><strong>Компанія «ГОРІХОВИЙ ДІМ»</strong> (надалі&nbsp;– Адміністрація) розробила електронну форму документа, який визначає порядок використання, доступу до ресурсів сайту замовлень обідів (<a href="https://lunch.walnut.house"></a><a href="https://lunch.walnut.house">https://lunch.walnut.house</a>) і пропонує Вам (надалі&nbsp;– Користувач) використовувати ресурси сайту <a href="https://lunch.walnut.house"></a><a href="https://lunch.walnut.house">https://lunch.walnut.house</a> на умовах даного Договору, що викладені нижче:</p>
                                    <p><strong>1. ПРЕДМЕТ ДОГОВОРУ:</strong></p>
                                    <p>1.1. Договір про використання ресурсів сайту (надалі&nbsp;– Договір) регулює умови використання Користувачами сайту в мережі Інтернет <a href="https://lunch.walnut.house"></a><a href="https://lunch.walnut.house">https://lunch.walnut.house</a> (надалі&nbsp;– Сайт).</p>
                                    <p>1.2. Чинна редакція Договору доступна на Сайті за адресою: <a href="https://lunch.walnut.house"></a><a href="https://lunch.walnut.house">https://lunch.walnut.house</a></p>
                                    <p>1.3. Договір може бути змінений Адміністрацією в односторонньому порядку без будь-якого попереднього повідомлення Користувача. Наступна редакція Договору набирає чинності з моменту його розміщення на Сайті, якщо інше не передбачено положеннями нової редакції Договору. Обов’язок ознайомлення із новою редакцією Договору Користувач несе самостійно.</p>
                                    <p>1.4. Договір набирає чинності з моменту надання Користувачем згоди, шляхом прийняття умов Договору при натисканні кнопки «З умовами Договору ознайомлений», розміщеної в кінці тексту Договору.</p>
                                    <p>1.5. На Сайті можуть бути додатково встановлені умови використання окремих ресурсів та сервісів.</p>
                                    <p>1.6. У випадку ненадання згоди Користувачем з умовами Договору останній не має права користуватися ресурсами Сайту.</p>
                                    <p><strong>2. ВИКОРИСТАННЯ САЙТУ:</strong></p>
                                    <p>2.1. Адміністрація надає Користувачу доступ до ресурсів Сайту і право користування широким спектром online-послуг (інформаційних, комунікаційних тощо). Усі матеріали, ресурси і сервіси, розміщені на Сайті на момент затвердження даної угоди, а також ті, що будуть розміщені в майбутньому, є предметом даного Договору.</p>
                                    <p>2.2. Для реєстрації на Сайті Користувач зазначає повну та правдиву інформацію про себе, відповідно до питань, які наведені в реєстраційній формі, і зобов’язаний підтримувати таку інформацію в актуальному стані.</p>
                                    <p>2.2.1. Зазначена Користувачем інформація про себе не є особистими відомостями чи сукупністю відомостей, що ідентифікують таку особу або за допомогою яких вона може бути конкретно ідентифікована.</p>
                                    <p>2.3. Користувач самостійно зазначає свої електронну адресу, ім’я та прізвище.</p>
                                    <p>2.3.1. Користувач несе відповідальність за безпечність використання вказаної у відомостях електронної адреси, імені та прізвища, а також за всі дії, здійснені на Сайті Користувачем під вказаною електронною адресою, іменем та прізвищем.</p>
                                    <p>2.3.2. Пароль Користувача є таємною інформацією, що не підлягає розголошенню Користувачем та Адміністрацією будь-яким третім особам.</p>
                                    <p>2.4. Права Адміністрації:</p>
                                    <p>2.4.1. використовувати адреси електронної пошти зареєстрованих Користувачів для здійснення розсилки повідомлень.</p>
                                    <p>2.4.2. переносити відомості, внесені Користувачами в інші розділи Сайту, якщо, на думку Адміністрації, вони стосуються іншої тематики.</p>
                                    <p>2.4.3. здійснювати модерування повідомлень та/або коментарів Користувача, якщо вони суперечать умовам Договору та/або нормам чинного законодавства України.</p>
                                    <p>2.4.4. використовувати надані Користувачем матеріали (об’єкти авторського права) на Сайті, зокрема (та не виключно) авторські твори, статті, фотографії, відео, графіку відповідно до п. 2.8 Договору.</p>
                                    <p>2.4.5. заблокувати зареєстрований аккаунт Користувача у випадку порушення Користувачем умов Договору або невикористання відповідного аккаунту (поштового ящика, блогу та ін.) протягом 1 (одного) року поспіль.</p>
                                    <p>2.4.6. здійснювати модерування контенту Користувача без пояснення причин у випадку порушення вимог чинного законодавства України, умов Договору та/або інших правил користування Сайтом.</p>
                                    <p>2.4.7. в будь-який час закрити доступ до будь-яких ресурсів (сервісів) Сайту як з, так і без попереднього повідомлення Користувача. В такому випадку Адміністрація не несе відповідальності за припинення доступу до своїх ресурсів на Сайті.</p>
                                    <p>2.5. Користувач має право:</p>
                                    <p>2.5.1. використовувати вказану електронну адресу, ім'я, прізвище і пароль по завершенні процесу реєстрації Користувача;</p>
                                    <p>2.5.2. створювати на Сайті будь-які матеріали (текстові повідомлення, коментарі, а також обмінюватись думками з приводу відповідної тематики опублікованої інформації);</p>
                                    <p>2.5.3. Використання матеріалів, розміщених на Сайті, в тому числі матеріалів, у яких міститься посилання на агентства «Iнтерфакс-Україна», «Українськi Новини», УНIАН, «Комсомольська правда в Україні», Associated Press та Reuters, здійснюється згідно з умовами використання інформаційних матеріалів таких Агентств.</p>
                                    <p>2.6. У випадку виявлення фактів незаконного використання ресурсів Сайту Користувач зобов’язаний негайно повідомити про це Адміністрацію.</p>
                                    <p>2.7. Користувач дає згоду Адміністрації на обробку наданої інформації та матеріалів, що передбачає також і використання такої інформації у власних цілях.</p>
                                    <p>2.8. Приймаючи умови даного Договору, Користувач при повному розумінні погоджується з передачею Адміністрації виключних прав інтелектуальної власності на об’єкти права інтелектуальної власності, що розміщуються ним на Сайті, а саме: право на використання творів, статей, коментарів, фотографій, відео, графіки та інших об’єктів права інтелектуальної власності (далі&nbsp;– твори, твір) та виключне право дозволяти або забороняти використання твору іншими особами, що дає Адміністрації право самостійно використовувати та/або дозволяти чи забороняти: відтворення творів; публічне виконання і переказ творів; публічну демонстрацію і публічний показ; будь-яке повторне оприлюднення творів, якщо воно здійснюється третіми особами, окрім тих, що здійснили перше оприлюднення; переклади творів; переробку, адаптацію та інші подібні зміни творів; включення творів як складових частин до збірників, антологій, енциклопедій тощо; розповсюдження творів шляхом першого продажу, відчуження іншим способом або шляхом здавання в майновий найм (оренду) чи у прокат та шляхом іншої передачі до першого продажу примірників твору; подання своїх творів до загального відома публіки таким чином, що її представники можуть здійснити доступ до творів з будь-якого місця і в будь-який час за їх власним вибором; здавання в майновий найм (оренду) і (або) комерційний прокат після першого продажу, відчуження іншим способом оригіналу або примірників творів, у тому числі у формі засобів зчитування, електронній формі; імпорт примірників творів.</p>
                                    <p><strong>3. МАТЕРІАЛИ, ЩО НАДАЮТЬСЯ КОРИСТУВАЧЕМ:</strong></p>
                                    <p>3.1. На Сайті заборонено розміщувати та розповсюджувати:</p>
                                    <p>3.1.1. заклики до насильницької зміни чи повалення конституційного ладу або до захоплення державної влади; заклики щодо поділу меж території чи державного кордону України, порушення порядку, встановленого Конституцією України; заклики до підпалу, знищення майна, захоплення будівель і споруд, насильницького виселення громадян; заклики до агресії чи розпалення воєнного конфлікту або розміщувати інший матеріал, який може становити кримінальний злочин або причину його скоєння;</p>
                                    <p>3.1.2. матеріали, які є незаконними, шкідливими; що ображають моральність, честь і достоїнство, права й охоронювані законом інтереси третіх осіб; а також нецензурні вислови та матеріали і вислови порнографічного, еротичного або сексуального характеру;</p>
                                    <p>3.1.3. матеріали рекламного, комерційного або адаптаційного характеру, розміщення яких не узгоджено з Адміністрацією;</p>
                                    <p>3.1.4. об’єкти інтелектуальної власності, на які оформлені авторські права, без наявності відповідного дозволу на таке публічне розміщення чи розповсюдження;</p>
                                    <p>3.1.5. матеріали, що містять комп’ютерні коди, призначені для порушення, знищення або обмеження функціональності будь-якого комп’ютерного або телекомунікаційного устаткування або програм, для здійснення несанкціонованого доступу, а також серійні номери до комерційних програмних продуктів, логіни, паролі та інші засоби для одержання несанкціонованого доступу до платних ресурсів в Інтернеті.</p>
                                    <p>3.1.6. персональні дані інших користувачів;</p>
                                    <p>3.1.7. матеріали, зміст та/або розповсюдження яких порушує чинне законодавство України та положення міжнародного законодавства.</p>
                                    <p>3.1.8. інформацію комерційного характеру, яка відноситься до особистості Користувача.</p>
                                    <p>3.2. Користувач підтверджує, що несе відповідальність за будь-яку інформацію, що надає та розміщує на Сайті.</p>
                                    <p><strong>4. ПОСИЛАННЯ НА ІНШІ САЙТИ:</strong></p>
                                    <p>4.1. При користуванні Сайтом можна мати доступ до інших сайтів у мережі Інтернет. Адміністрація не має жодного контролю над цими сайтами, і Користувач має доступ до них на власний ризик. Користувач визнає повністю та погоджується з тим, що Адміністрація не несе жодної відповідальності за доступність до таких сайтів та за їх контент, а також за будь-які наслідки, пов’язані з використанням контенту цих сайтів.</p>
                                    <p><strong>5. ОБМЕЖЕННЯ ВІДПОВІДАЛЬНОСТІ АДМІНІСТРАЦІЇ:</strong></p>
                                    <p>5.1. Користувач використовує Сайт виключно на власний ризик. Користувач Сайту несе відповідальність за будь-яку шкоду, що може бути спричинена комп’ютеру Користувача та його даним. Адміністрація не несе жодної відповідальності, в тому числі і за відповідність Сайту будь-яким цілям та меті Користувача.</p>
                                    <p>5.2. Адміністрація не здійснює обов’язкової перевірки матеріалів, що розміщуються Користувачем на Сайті.</p>
                                    <p>5.3. Адміністрація не несе відповідальності за зміст будь-яких матеріалів на Сайті, за будь-які висловлювання та коментарі користувачів сайту, за їх відповідність вимогам чинного законодавства, за порушення авторських прав, незаконне використання знаків для товарів і послуг, найменування фірм та їх логотипів тощо.</p>
                                    <p>5.4. Адміністрація в жодному разі не несе відповідальність за будь-які прямі, непрямі збитки, збитки, понесені у зв’язку зі сплатою штрафних санкцій, чи взагалі будь-які збитки, навіть у тому випадку, якщо Адміністрації було попередньо повідомлено чи відомо про можливість понесення таких збитків, у зв’язку з використанням та/чи неможливістю використання Сайтів.</p>
                                    <p>5.5. У випадку пред’явлення Адміністрації будь-яких претензій тощо зі сторони третіх осіб у зв’язку з інформацією, яка розміщується Користувачем на Сайті (в тому числі й претензії зі сторони власників авторських прав та/або суміжних прав, їх уповноважених представників чи третіх осіб), Користувач зобов’язаний самостійно та за власний рахунок вирішувати всі спори з особами, що мають такі претензії, а також повністю відшкодувати понесені Адміністрацією збитки.</p>
                                    <p>5.6. Адміністрація намагається забезпечувати безперебійну та безперервну роботу Сайту, проте не несе жодної відповідальності за повну або часткову втрату контенту Користувача, що розміщений на сайті, а також за недостатню якість та швидкість перегляду контенту.</p>
                                    <p><strong>6. МОДЕРУВАННЯ:</strong></p>
                                    <p>6.1. Модерування інтерактивних ресурсів на Сайті (коментарі, форуми, блоги) здійснюється за принципом постмодерації. Повідомлення додаються, а вже потім перевіряються модераторами.</p>
                                    <p>6.2. Якщо модератор вирішить, що будь-який текст порушує правила користування Сайтом, він має повне право видалити його.</p>
                                    <p>6.3. Кожний Користувач має право поскаржитись на коментарі. За наявності більш ніж однієї скарги коментар може бути прихований для подальшого перегляду модератором.</p>
                                    <p>6.4. Якщо Користувач не згоден з рішенням модератора, він має право написати скаргу до служби технічної підтримки сайту, що вказана на відповідному Сайті.</p>
                                    <p><strong>7. ЗАКЛЮЧНІ ПОЛОЖЕННЯ:</strong></p>
                                    <p>7.1. Цей Договір та відносини, що склались у результаті прийняття умов Договору, регулюються чинним законодавством України.</p>
                                    <p>7.2. Даний Договір є договором приєднання відповідно до ст. 634 Цивільного кодексу України, у зв’язку з чим:</p>
                                    <p>7.2.1. Договір укладається лише шляхом приєднання до нього в цілому Користувача, що виявив намір укласти Договір;</p>
                                    <p>7.2.2. Користувач, що виявив намір укласти Договір, не може пропонувати свої умови Договору;</p>
                                    <p>7.2.3. У випадку незгоди зі змістом чи формою Договору чи будь-яких окремих його положень Користувач, який виявляє намір укласти Договір, вправі відмовитися від його укладання;</p>
                                    <p>7.2.4. Вимоги щодо зміни або розірвання Договору після набрання ним чинності пред’являються і підлягають задоволенню згідно з положеннями чинного законодавства України.</p>
                                    <p>7.3. Користувач погоджується з тим, що уклав Договір при повному розумінні його змісту.</p>
                                    <p>7.4. Заголовки до розділів Договору зазначені для зручності та не мають юридичної чи договірної сили.</p>
                                    <p><strong>8. РЕКВІЗИТИ АДМІНІСТРАЦІЇ:</strong></p>
                                    <p><strong>Компанія «ГОРІХОВИЙ ДІМ»</strong>,</p>
                                    <p>яка діє та належним чином зареєстрована за законодавством Республіки Кіпр 17 лютого 2010 року за номером HE 262556, має свій зареєстрований офіс за адресою: Стасіну 1, МІТСІ БІЛДІНГ 1, 1 поверх, офіс 4, Площа Елефтеріас, 1060, Нікосія, Кіпр.</p>
                                    <p><strong>&nbsp;</strong></p>	  </div>
                            </div>
                            </article></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
        <script src={{ asset('login/assets/js/jquery-1.11.1.min.js') }}></script>
        <script src={{ asset('login/assets/bootstrap/js/bootstrap.min.js') }}></script>
        <script src={{ asset('login/assets/js/jquery.backstretch.min.js') }}></script>
        <script src={{ asset('login/assets/js/scripts.js') }}></script>
        <script src={{ asset('assets/js/app.js') }}></script>
        
        <!--[if lt IE 10]>
            <script src={{ asset('login/assets/js/placeholder.js') }}></script>
        <![endif]-->

    </body>

</html>