<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Walnut House</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <link rel="stylesheet" href={{ asset('assets/css/styles-merged.css') }}>
    <link rel="stylesheet" href={{ asset('assets/css/style.css') }}>    
    <link rel="stylesheet" href={{ asset('assets/css/spop.css') }}>  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src={{ asset('assets/js/jquery.fn.js') }}></script>
    <script src={{ asset('assets/js/spop.js') }}></script>

    <!--[if lt IE 9]>
      <script src={{ asset('assets/js/vendor/html5shiv.min.js') }}></script>
      <script src={{ asset('assets/js/vendor/respond.min.js') }}></script>
    <![endif]-->

  </head>
  <body>

    <!-- Fixed navbar -->
    
    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html" title="uiCookies:FineOak">FineOak</a>
        </div>

        {% include 'parts/menu/' ~ userRole ~ '.twig' %}
      </div>
    </nav>

    <section class="probootstrap-section probootstrap-bg-white" data-section="welcome" style="min-height: 610px">
      <div class="container" style="padding-top: 70px;">
        <div class="row">
            
            <div class="col-md-9 text-left" style="padding-left: 0">
                <input id="add-user" name="add_user" value="Додати користувача" class="btn btn-primary" type="button">
            </div>
            <div class="col-md-3 text-right" style="padding-right: 0">
                <a href="/users" id="cancel-changes" class="btn" type="button" style="border: 1px solid #ccc; color: rgba(0, 0, 0, 0.7)">Відмінити</a>
                <input id="save-users" name="save_users" value="Зберегти" class="btn btn-primary" type="button">
            </div>
            
            <br/><br/><br/>

            <table class="table wh-table" style="cursor: pointer; width: 100%; margin: 0px">
              <tr class="wh-head">
                <th>Імя</th>
                <th>Роль</th>
                <th>Email</th>
                <th>Телефон</th>
                <th>Компанія</th>
                <th>Офіс</th>
              </tr>
            {% for user in users %}
              <tr data-user-id={{ user.user_id }}>
                <th>{{ user.user_name }}</th>
                <th>{{ user.role }}</th>
                <th><input type="text" value="{{ user.email }}" /></th>
                <th>{{ user.phone }}</th>
                <th>{{ user.company_name ?? ' - ' }}</th>
                <th>{{ user.office_addr ?? ' - ' }}</th>
              </tr>
            {% endfor %}
            </table>
            <hr class="bottom-table-border"/>
        </div>
      </div>
    </section>

    <script src={{ asset('assets/js/scripts.min.js') }}></script>
    <script src={{ asset('assets/js/custom.min.js') }}></script>

  </body>
</html>