<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Горіховий Дім</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <link rel="stylesheet" href={{ asset('assets/css/styles-merged.css') }}> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src={{ asset('assets/js/app.js') }}></script>
    <script src={{ asset('assets/js/spop.js') }}></script>

    <!--[if lt IE 9]>
      <script src={{ asset('assets/js/vendor/html5shiv.min.js') }}></script>
      <script src={{ asset('assets/js/vendor/respond.min.js') }}></script>
    <![endif]-->

  </head>
  <body>

    <!-- Fixed navbar -->
    
    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar scrolled">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/order"></a>
        </div>

        {% include 'parts/menu/' ~ userRole ~ '.twig' %}
      </div>
    </nav>

    <section class="probootstrap-section probootstrap-bg-white" data-section="welcome">
      <div class="container">
        <div class="row">
            
              <div class="col-md-7 text-left" style="padding-left: 0">
                <form id="order-filters" class="probootstrap-form" style="margin: 0" methos="GET" action="/filters">
                    <input type="hidden" name="selected_year" value="{{ year }}" />
                    <input type="hidden" name="selected_week" value="{{ week }}" />
                    <input type="hidden" name="redirect_page" value="users" />
                    <div class="form-group" style="width: 160px; float: left; margin-right: 5px">
                        <div class="form-field">
                            <i class="icon icon-chevron-down"></i>
                            <select name="company" class="form-control order-filter" style="height: 35px;">
                            <option value="none">Компанія</option>
                            {% for companyItem in companies %}
                                <option {% if companyItem.id == company %} {{'selected="selected"'}} {% endif %} value="{{ companyItem.id }}">{{ companyItem.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="width: 160px; float: left; margin-right: 5px">
                        <div class="form-field">
                            <i class="icon icon-chevron-down"></i>
                            <select name="office" class="form-control order-filter"  style="height: 35px;">
                            <option value="none">Офіс</option>
                            {% for officeItem in offices %}
                                <option {% if officeItem.id == office %} {{'selected="selected"'}} {% endif %} value="{{ officeItem.id }}">{{ officeItem.address }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5 text-right" style="padding-right: 0">
                <input id="add-new-admin-moder" name="add_new_user_moder" value="Створити менеджера або адміна" class="btn btn-primary" type="button">
            </div>
            
            <br/><br/><br/>

            <ul class="nav nav-tabs users-tabs" style="border-bottom: 0">
              <li data-tab="users" class="active"><a data-tab="users" href="#">Користувачі</a></li>
              <li id="users-stuff-tab" data-tab="stuff"><a class="users-tab" data-tab="stuff" href="#">Менеджери і Адміністратори</a></li>
            </ul>

            <table id="users" class="table wh-table" style="width: 100%; margin: 0px">
              <tr class="wh-head">
                <th>Імя</th>
                <th>Email</th>
                <th>Компанія</th>
                <th>Офіс</th>
                <th></th>
              </tr>
            {% for user in users %}
              <tr data-user-id="{{ user.user_id }}">
                <th>{{ user.user_name }}</th>
                <th style="position: relative">
                  <input type="text" class="user-name-input" value="{{ user.email }}" />
                  <div class="user-email-actions user-actions-{{ user.user_id }}">
                    <input class="user-email-actions-cancel" type="button" value="x"/>
                    <input class="user-email-actions-confirm" data-confirm-user-id="{{ user.user_id }}" type="button" value="&#10003;"/>
                  </div>
                </th>
                <th>{{ user.company_name ?? ' - ' }}</th>
                <th>{{ user.office_addr ?? ' - ' }}</th>
                <th class="users-action-switch">
                  <label data-deactivate-user-id="{{ user.user_id }}" class="switch">
                    <input type="checkbox" {% if user.is_active == 1 %} {{'checked=true'}} {% endif %}/>
                    <span class="slider round"></span>
                  </label>
                </th>
              </tr>
            {% endfor %}
            </table>

            <table id="stuff" class="table wh-table" style="width: 100%; margin: 0px; display: none">
              <tr class="wh-head stuff-table-row">
                <th>Імя</th>
                <th>Email</th>
                <th>Роль</th>
              </tr>
            {% for member in stuff %}
              <tr class="stuff-table-row" data-user-id={{ member.user_id }}>
                <th>{{ member.user_name }}</th>
                <th>{{ member.email }}</th>
                <th>{{ member.role }}</th>
              </tr>
            {% endfor %}
              <tr class="new-moder-admin-row" style="display: none">
                <th style="width: 400px">
                  <input style="width: 45%" class="moder-admin-first-name" type="text" name="first_name" placeholder="Імя..."/>
                  <input style="width: 45%" class="moder-admin-last-name" type="text" name="last_name" placeholder="Прізвище..."/>
                </th>
                <th>
                  <input style="width: 45%" class="moder-admin-email" type="text" name="email" placeholder="Email..."/>
                  <input style="width: 45%" class="moder-admin-pass" type="password" name="pass" placeholder="Пароль..."/>
                </th>
                <th style="position: relative">
                  <select class="moder-admin-role">
                    <option value="manager">Менеджер</option>
                    <option value="admin">Адміністратор</option>
                  </select>
                  <input class="moder-admin-actions-confirm" type="button" value="&#10003;">
                </th>
              </tr>
            </table>

            <hr class="bottom-table-border"/>
        </div>
      </div>
    </section>

  </body>
</html>