<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Горіховий Дім</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link rel="stylesheet" href={{ asset('assets/css/styles-merged.css') }}>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src={{ asset('assets/js/app.js') }}></script>
    <script src={{ asset('assets/js/spop.js') }}></script>

    <!--[if lt IE 9]>
      <script src={{ asset('assets/js/vendor/html5shiv.min.js') }}></script>
      <script src={{ asset('assets/js/vendor/respond.min.js') }}></script>
    <![endif]-->

  </head>
  <body>


    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width: 765px; margin: 5% auto">
        
    </div>
    </div>
    
    <!-- Fixed navbar -->
    
    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar scrolled">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/order" ></a>
        </div>

        {% include 'parts/menu/' ~ userRole ~ '.twig' %}
      </div>
    </nav>

    <section class="probootstrap-section probootstrap-bg-white" data-section="welcome">
      <div class="container" style="margin-top: 30px">
        <div class="row">
            <div class="col-md-9 text-left" style="padding-left: 0">
                <form id="order-filters" class="probootstrap-form" style="margin: 0" methos="GET" action="/filters">
                    <input type="hidden" name="selected_year" value="{{ year }}" />
                    <input type="hidden" name="selected_week" value="{{ week }}" />
                    <div class="form-group" style="width: 160px; float: left; margin-right: 5px">
                        <div class="form-field">
                            <i class="icon icon-chevron-down"></i>
                            <select name="company" class="form-control order-filter" style="height: 35px;">
                            <option value="none">Компанія</option>
                            {% for companyItem in companies %}
                                <option {% if companyItem.id == company %} {{'selected="selected"'}} {% endif %} value="{{ companyItem.id }}">{{ companyItem.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="width: 160px; float: left; margin-right: 5px">
                        <div class="form-field">
                            <i class="icon icon-chevron-down"></i>
                            <select name="office" class="form-control order-filter"  style="height: 35px;">
                            <option value="none">Офіс</option>
                            {% for officeItem in offices %}
                                <option {% if officeItem.id == office %} {{'selected="selected"'}} {% endif %} value="{{ officeItem.id }}">{{ officeItem.address }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="width: 160px; float: left; margin-right: 5px">
                        <div class="form-field">
                            <i class="icon icon-chevron-down"></i>
                            <select name="user" class="form-control order-filter" style="height: 35px;">
                            <option value="none">Користувач</option>
                            {% for userItem in users %}
                                <option {% if userItem.id == user %} {{'selected="selected"'}} {% endif %} value="{{ userItem.id }}">{{ userItem.first_name ~ ' ' ~ userItem.last_name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3 text-right" style="padding-right: 0">
                <form action="/filters">
                    <div class="btn-group">
                        <button type="submit" name="filter_period_week" class="btn {% if filterPeriod == '2weeks' %} btn-default {% else %} week-2weeks-toggle-active {% endif %} order-top-button" style="border: 1px solid #ccc; color: rgba(0, 0, 0, 0.7)">Тиждень</button>
                        <button type="submit" name="filter_period_2weeks" class="btn {% if filterPeriod == 'week' %} btn-default {% else %} week-2weeks-toggle-active {% endif %} order-top-button" style="border: 1px solid #ccc; color: rgba(0, 0, 0, 0.7)">2 тижні</button>
                    </div> 
                </form>
            </div>
            
            <br/><br/><br/>

            <table class="table order-table" style="margin: 0; min-width: 1170px;">
                <tr style="background-color:#efefef;">
                    <th style="padding-left: 5px">  
                        <ul class="pager">
                            <li><a href="/order" class="btn btn-default" style="color: rgba(0, 0, 0, 0.7);"><b>Сьогодні</b></a></li>
                            <li><a href="/order?year={{period.prev.year}}&week={{period.prev.week}}" class="btn"><</a></li>
                            <li class="date-range">{{ period.start.day }} - {{ period.end.day }}</li>
                             <li><a href="/order?year={{period.next.year}}&week={{period.next.week}}" class="btn">></a></li>
                        </ul>
                    </th>
                    {# <th style="background-color: #eee;"></th> MANAGER #}
                    {% for date, weekday in period.items %}
                        {% if "now"|date('Y-m-d') == date|date('Y-m-d') %}
                            <th style="background-color: #e5feefcc;">
                                <span class="day-name">{{ weekday.day|trans }}</span><br/>
                                <span class="day-date">{{ weekday.number }}</span>
                            </th>
                        {% elseif weekday.is_working_day %}
                            <th>
                                <span class="day-name">{{ weekday.day|trans }}</span><br/>
                                <span class="day-date">{{ weekday.number }}</span>
                            </th>
                        {% else %}
                            <th style="background-color: #fff0e3cc;">
                                <span class="day-name">{{ weekday.day|trans }}</span><br/>
                                <span class="day-date">{{ weekday.number }}</span>
                            </th>
                        {% endif %}
                    {% endfor %}
                    <th>
                        <span class="day-name"></span><br/>
                        <span class="day-date">&Sigma;</span>
                    </th>
                </tr>
            </table>

            {% for group in menu %}
                <table class="table order-table" id="salads-header" style="cursor: pointer; width: 100%; margin: 0px; min-width: 1170px;">
                    <tr>
                        <th><b style="text-transform: uppercase;">{{ group.group_name}}</b></th>
                        {% for date, weekday in period.items %}
                            {% if "now"|date('Y-m-d') == date|date('Y-m-d') %}
                                <th style="background-color: #e5feef80;"><div>&nbsp;</div></th>
                            {% elseif weekday.is_working_day %}
                                <th><div>&nbsp;</div></th>
                            {% else %}
                                <th style="background-color: #f9d1ae1a;"><div>&nbsp;</div></th>
                            {% endif %}
                        {% endfor %}
                        <th></th>
                    </tr>
                </table>
                <table class="dish-list table order-table manager" id="salads-list"  style="margin: 0px; min-width: 1170px;">
                    {% for dish in group.dishes %}
                    <tr>
                        <th style="padding-left: 40px;">
                        <div>
                            <a data-link-menu-id="{{ dish.menu_id }}" data-link-dish-id="{{ dish.dish_id }}" class="dish-link" style="cursor: auto">
                            {{ dish.dish_name }}
                            <div class="dish-hint" style="display: none;">
                                <div class="col-md-12 probootstrap-animate fadeInUp probootstrap-animated">
                                    <div class="probootstrap-block-image" style="margin-bottom: 5px">
                                        <figure><img width="338px" src="{{ asset('assets/dishes/' ~ dish.dish_id ~ '.jpg') }}"/></figure>
                                    </div>
                                    <div style="width: 50%; float: left; padding-top: 4px">
                                        <b>Калорії: <span style="font-weight: normal">{{dish.calories}}</span></b><br/>
                                    </div>
                                    <div style="width: 50%; float: left; text-align: right;">
                                        <span style="color: #dd8e36; font-size: 18px; font-weight: normal">{{dish.price}} грн</span>
                                    </div>
                                    <b>Інгредієнти</b>
                                    <p style="font-size: 12px; margin: 0 0 10px 0;">{{dish.ingredients}}</p>
                                </div> 
                            </div>
                            </a>
                        </div>
                        </th>
                        {% for date, order in dish.orders %}
                            {% if order.available and order.is_working_day %}
                                {% if "now"|date('Y-m-d') < date|date('Y-m-d') %}
                                    <th>{{ order.count }}</th>
                                {% elseif "now"|date('Y-m-d') == date|date('Y-m-d') %}
                                    {% if "now"|date('H') < orderHour %}
                                        <th style="background-color: #e5feef80;">{{ order.count }}</th>
                                    {% else %}
                                        <th class="disabled-cell" style="background-color: #e5feef80">{{ order.count }}</th>
                                    {% endif %}
                                {% else %}
                                    <th class="disabled-cell">{{ order.count }}</th>
                                {% endif %}
                            {% else %}
                                {% if order.is_working_day == false %}
                                    {% if "now"|date('Y-m-d') == date|date('Y-m-d') %}
                                        <th class="disabled-cell" style="background-color: #e5feef80">
                                            <span class="orders-not-allowed-tooltip">Вихідний день або державне свято</span>
                                        </th>
                                    {% else %}
                                        <th class="disabled-cell" style="background-color: #f9d1ae1a">
                                            <span class="orders-not-allowed-tooltip">Вихідний день або державне свято</span>
                                        </th>
                                    {% endif %}
                                {% elseif order.available == false %}
                                    <th class="disabled-cell" style="background-color: #efefef4d">
                                        <span class="orders-not-allowed-tooltip">Страва недоступна для замовлень на цей період</span>
                                    </th>
                                {% endif %}    
                            {% endif %}
                        {% endfor %}
                        <th><b>{{dish.total_count}}</b></th>
                    </tr>
                    {% endfor %}
                </table>
            {% endfor %}
            <hr class="bottom-table-border"/>

            <table class="dish-list table order-table" id="salads-list"  style="margin: 0px; border: 0; min-width: 1170px;">
            <tr style=" border: 0;">
                <th style="text-align: right; padding-right: 20px; border: 0; position: relative">
                    Всього: <b>{{ totalPriceInfo.total_price_with_discount }} грн</b>
                    {% if totalPriceInfo.total_price > totalPriceInfo.total_price_with_discount %}
                        <span class="discount-price" style="text-align: right; padding-right: 15px;">{{totalPriceInfo.total_price}}<i class="infolink infolink-total-price"></i></span>
                    {% endif %}
                    <i class="total-price-infolink-description" style="right: 0">
                        Знижки: <br/>
                        {% if totalPriceInfo.total_price_discount > 0 %}
                            <b>{{totalPriceInfo.total_price_discount}}</b> грн за комплексні обіди
                            <br>
                        {% endif %}
                        {% if totalPriceInfo.total_weekly_discount > 0 %}
                            <b>{{totalPriceInfo.total_weekly_discount}}</b> грн за тижневі замовлення
                            <br>
                        {% endif %}
                    <i>
                </th>
                    {% for date, total in totalByDays %}
                        <th style="position: relative; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd">
                            <b>{{ total.total_price_with_discount }}</b>
                            {% if total.total_price_with_discount < total.total_price %}
                                <span class="discount-price">{{ total.total_price }}
                                    <i class="infolink"></i>
                                </span>
                                <i class="infolink-description">
                                    Знижки: <br/>
                                    {% if total.total_price_discount > 0 %}
                                        <b>{{total.total_price_discount}}</b> грн за <b>{{total.lunch_count}}</b> комплекс{% if total.lunch_count > 1 and total.lunch_count < 5%}и{% endif %}{% if total.lunch_count >= 5%}ів{% endif %}
                                        <br>
                                    {% endif %}
                                <i>
                            {% endif %}
                        </th>
                    {% endfor %}
                    
                <th style="color: #aaa; border: 0"></th>
            </tr>
            </table>
            <div class="row">
                <div class="col-md-12 text-left" >
                    <div class="probootstrap-form" style="margin: 0">
                        <div id="export-selected-period-button" class="form-group" style="width: 160px; float: left; margin-right: 5px; display: block">
                            <div class="form-field">
                                <a href="/export?year={{year}}&week={{week}}" class="btn btn-primary">Експорт в XLS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </section>

  </body>
</html>