<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Walnut House</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <link rel="stylesheet" href={{ asset('assets/css/styles-merged.css') }}>
    <link rel="stylesheet" href={{ asset('assets/css/style.css') }}>  
    <link rel="stylesheet" href={{ asset('assets/css/spop.css') }}>    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src={{ asset('assets/js/jquery.fn.js') }}></script>
    <script src={{ asset('assets/js/spop.js') }}></script>

    <!--[if lt IE 9]>
      <script src={{ asset('assets/js/vendor/html5shiv.min.js') }}></script>
      <script src={{ asset('assets/js/vendor/respond.min.js') }}></script>
    <![endif]-->

  </head>
  <body>


    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width: 765px; margin: 5% auto">
    
        <!-- Modal content-->
        <div class="modal-content">
            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            <div class="modal-body" style="float: left; padding: 35px 10px 0px 20px; margin: 0;">
                <div class="col-md-6 probootstrap-animate">
                    <div class="probootstrap-block-image">
                        <figure><img id="modal-dish-image" src={{ asset('assets/img/img_square_3.jpg') }}/></figure>
                    </div>
                </div> 
                <div class="col-md-6 col-sm-6 text-left" style="font-size: 13px; font-weight: normal">
                    <div class="col-md-12 text-left">
                        <h3 style="padding: 0; margin: 0;" id="modal-dish-name"></h3>
                    </div>
                    <div class="col-md-12 text-left">
                        <div class="modal-rating" id="modal-dish-rating">
                        </div>
                        <div style="margin-left: 10px; float: left; color: #aaa">
                            {# <span style="padding: 15px">Відгуків: <span id="modal-dish-reviews-count"></span></span> #}
                            <span> | </span>
                            <span style="padding: 15px"><a href="#">Написати відгук</a></span>
                        </div>
                    </div>
                    <div class="col-md-12 text-left" style="height: 126px; padding-top: 10px;">
                        <b>Опис</b>
                        <p id="modal-dish-description" style="font-size: 11px">
                            
                        </p>
                    </div>
                    <div class="col-md-12" style="padding-bottom: 15px; margin-top: 5px">
                        <table class="table order-table" style="margin: 0">
                            <tr style="background-color:#efefef;">
                                {% for date, weekday in period.items %}
                                    <th>
                                        <span class="day-name">{{ weekday.day }}</span><br/>
                                        <span class="day-date">{{ weekday.number }}</span>
                                    </th>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for date, weekday in period.items %}
                                    <th><input class="modal-order-cell" data-modal-dish-day={{ date }} data-modal-menu-id="" data-changed="0" type="number" value=""/></th>
                                {% endfor %}
                            </tr>
                        </table>
                        <hr class="bottom-table-border"/>
                    </div>
                    <div class="col-md-12 text-left">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="border: 1px solid #ccc">Закрити</button>
                        <button type="button" id="save-order-popup" class="btn btn-primary" style="margin-right: 10px" data-dismiss="modal">Зберегти</button>
                    </div>
                </div>            
            </div>
            <div class="modal-footer" style="margin: 0; visibility: hidden;">
                <!--  -->
            </div>
        </div>
        
    </div>
    </div>
    
    <!-- Fixed navbar -->
    
    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html" title="uiCookies:FineOak">FineOak</a>
        </div>

        {% include 'parts/menu/' ~ userRole ~ '.twig' %}
      </div>
    </nav>

    <section class="probootstrap-section probootstrap-bg-white" data-section="welcome" style="min-height: 1080px">
      <div class="container" style="padding-top: 70px;">
        <div class="row">
            <div class="col-md-9 text-left" style="padding-left: 0">
                <div class="btn-group">
                    <button type="button" class="btn order-top-button" style="border: 1px solid #ccc; color: rgba(0, 0, 0, 0.7)">Тиждень</button>
                    <button type="button" class="btn btn-default order-top-button" style="border: 1px solid #ccc; color: rgba(0, 0, 0, 0.7)">Місяць</button>
                </div> 
            </div>
            <div class="col-md-3 text-right" style="padding-right: 0">
                <a href="/order" id="cancel-changes" class="btn" style="border: 1px solid #ccc; color: rgba(0, 0, 0, 0.7)">Відмінити</a>
                <input id="save-order" name="save_order" value="Зберегти" class="btn btn-primary" type="button">
            </div>
            
            <br/><br/><br/>

            <table class="table order-table" style="margin: 0">
                <tr style="background-color:#efefef;">
                    <th style="padding-left: 5px">  
                        <ul class="pager">
                            <li><a href="/order" class="btn btn-default" style="color: rgba(0, 0, 0, 0.7);"><b>Сьогодні</b></a></li>
                            <li><a href="/order?year={{period.prev.year}}&week={{period.prev.week}}" class="btn"><</a></li>
                            <li class="date-range">{{ period.start.day }} - {{ period.end.day }}</li>
                             <li><a href="/order?year={{period.next.year}}&week={{period.next.week}}" class="btn">></a></li>
                        </ul>
                    </th>
                    {# <th style="background-color: #eee;"></th> MANAGER #}
                    {% for date, weekday in period.items %}
                        <th>
                            <span class="day-name">{{ weekday.day }}</span><br/>
                            <span class="day-date">{{ weekday.number }}</span>
                        </th>
                    {% endfor %}
                </tr>
                {# <tr>
                    <th style="text-align: right; padding-right: 20px">Всього: <b>265 грн</b></th>
                    <th style="background-color: #eee"></th> MANAGER
                    <th style="color: #aaa">53</th>
                    <th style="color: #aaa">50</th>
                    <th style="color: #aaa">56</th>
                    <th style="color: #aaa">43</th>
                    <th style="color: #aaa">63</th>
                    <th style="color: #aaa">0</th>
                    <th style="color: #aaa">0</th>
                </tr> #}
            </table>

            {% for group in menu %}
                <table class="table order-table" id="salads-header" style="cursor: pointer; width: 100%; margin: 0px">
                    <tr>
                        <th><b style="text-transform: uppercase;">{{ group.group_name}}</b></th>
                        {# <th style="background-color: #eee"></th> MANAGER #}
                        <th><div>&nbsp;</div></th>
                        <th><div>&nbsp;</div></th>
                        <th><div>&nbsp;</div></th>
                        <th><div>&nbsp;</div></th>
                        <th><div>&nbsp;</div></th>
                        <th><div>&nbsp;</div></th>
                        <th><div>&nbsp;</div></th>
                    </tr>
                </table>
                <table class="dish-list table order-table" id="salads-list"  style="margin: 0px">
                    {% for dish in group.dishes %}
                    <tr data-menu-id={{ dish.menu_id }} data-dish-id={{ dish.dish_id }}>
                        <th style="padding-left: 40px;"><div><a class="dish-link" >{{ dish.dish_name }}</a></div></th>
                        {# <th style="background-color: #eee">{{ dish.orders_count }}</th> MANAGER #}
                        {% for date, order in dish.orders %}
                            <th><input class="order-cell" data-day={{ date }} data-changed="0" type="number" value="{{ order }}"/></th>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            {% endfor %}
            
            <hr class="bottom-table-border"/>
      </div>
    </section>

    <script src={{ asset('assets/js/scripts.min.js') }}></script>
    <script src={{ asset('assets/js/custom.min.js') }}></script>

  </body>
</html>