<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Walnut House</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <link rel="stylesheet" href={{ asset('assets/css/styles-merged.css') }}>
    <link rel="stylesheet" href={{ asset('assets/css/style.css') }}>   
    <link rel="stylesheet" href={{ asset('assets/css/spop.css') }}>  
    <link rel="stylesheet" type="text/css" href="http://jcrop-cdn.tapmodo.com/v0.9.12/css/jquery.Jcrop.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://jcrop-cdn.tapmodo.com/v0.9.12/js/jquery.Jcrop.min.js"></script>
    <script src={{ asset('assets/js/jquery.fn.js') }}></script>
    <script src={{ asset('assets/js/spop.js') }}></script>

    <!--[if lt IE 9]>
      <script src={{ asset('assets/js/vendor/html5shiv.min.js') }}></script>
      <script src={{ asset('assets/js/vendor/respond.min.js') }}></script>
    <![endif]-->

  </head>
  <body>

    <div class="modal fade" id="cropModal" role="dialog">
    <div class="modal-dialog" style="width: 765px; margin: 5% auto">
    
        <!-- Modal content-->
        <div class="modal-content">
            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            <div class="modal-body" style="float: left; padding: 35px 10px 0px 20px; margin: 0;">
                <div class="col-md-6">
                   <form id="form">
                        <input id="file" type="file" />
                        <button id="cropbutton" type="button">Crop</button>
                        <br>
                        <div id="views"></div>
                        <h2>Submit form</h2>
                        <input type="submit" value="Upload form data and image" />
                      </form>
                </div> 
                <div class="col-md-6 col-sm-6 text-left" style="font-size: 13px; font-weight: normal">
                    <div class="col-md-12 text-left">
                        <h3 style="padding: 0; margin: 0;" id="modal-dish-name"></h3>
                    </div>
                    <div class="col-md-12 text-left">
                        <div class="modal-rating" id="modal-dish-rating">
                        </div>
                        <div style="margin-left: 10px; float: left; color: #aaa">
                            {# <span style="padding: 15px">Відгуків: <span id="modal-dish-reviews-count"></span></span> #}
                            <span> | </span>
                            <span style="padding: 15px"><a href="#">Написати відгук</a></span>
                        </div>
                    </div>
                    <div class="col-md-12 text-left" style="height: 126px; padding-top: 10px;">
                        <b>Опис</b>
                        <p id="modal-dish-description" style="font-size: 11px">
                            
                        </p>
                    </div>
                    <div class="col-md-12 text-left">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="border: 1px solid #ccc">Закрити</button>
                        <button type="button" id="save-order-popup" class="btn btn-primary" style="margin-right: 10px" data-dismiss="modal">Зберегти</button>
                    </div>
                </div>            
            </div>
            <div class="modal-footer" style="margin: 0; visibility: hidden;">
                <!--  -->
            </div>
        </div>
        
    </div>
    </div>
    <!-- Fixed navbar -->
    
    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html" title="uiCookies:FineOak">FineOak</a>
        </div>

        {% include 'parts/menu/' ~ userRole ~ '.twig' %}
      </div>
    </nav>

    <section class="probootstrap-section probootstrap-bg-white" data-section="welcome" style="min-height: 610px">
      <div class="container" style="padding-top: 70px;">
        <div class="row">
            
            <div class="col-md-9 text-left" style="padding-left: 0">
                <input id="save-order" name="save_order" value="Додати нову групу" class="btn btn-primary" type="button">
            </div>
            <div class="col-md-3 text-right" style="padding-right: 0">
                <a id="cancel-changes" href="/dishes" class="btn" type="button" style="border: 1px solid #ccc; color: rgba(0, 0, 0, 0.7)">Відмінити</a>
                <input id="save-dishes" name="save_dishes" value="Зберегти" class="btn btn-primary" type="button">
            </div>
            
            <br/><br/><br/>

            <table class="table wh-table" style="cursor: pointer; width: 100%; margin: 0px">
              <tr class="wh-head">
                <th>Назва</th>
                <th>Опис</th>
                <th>Інгредієнти</th>
                <th>Вага</th>
                <th>Ціна</th>
                <th></th>
              </tr>
            {% for group in dishes %}
                <tr>
                  <th colspan="6" class="wh-group-name">
                  <img src="" class="dish-thumbnail" style="width: 20px; height: 20px"/>
                  <input type="text" value="{{ group.name}}" style="float: left; width: 50%"/>
                  <input data-group-id="{{ group.id }}" value="Додати" class="btn btn-info add-new-item add-dish" type="button">
                </th>
                </tr>
                {% for dish in group.dishes %}
                  <tr class="group-{{ group.id }}" data-dish-id={{ dish.id }} data-group-id={{ group.id }}>
                    <th class="wh-name"><input name="name" type="text" value="{{ dish.name }}" /></th>
                    <th><input name="description" type="text" value="{{ dish.description }}" /></th>
                    <th><input name="ingredients" type="text" value="{{ dish.ingredients }}" /></th>
                    <th width="5%"><input name="weight" type="number" value="{{ dish.weight }}" /></th>
                    <th width="5%"><input name="price" type="number" value="{{ dish.price }}" /></th>
                    <th width="3%">
                      <a href="#" class="btn btn-danger btn-xs remove-dish" style="padding: 3px 10px 3px 10px; text-transform: lowercase">x</a>
                    </th>
                  </tr>
                {% endfor %}
            {% endfor %}
            </table>
            <hr class="bottom-table-border"/>
        </div>
      </div>
    </section>
  </body>
</html>