<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Walnut House</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <link rel="stylesheet" href={{ asset('assets/css/styles-merged.css') }}>
    <link rel="stylesheet" type="text/css" href="http://jcrop-cdn.tapmodo.com/v0.9.12/css/jquery.Jcrop.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://jcrop-cdn.tapmodo.com/v0.9.12/js/jquery.Jcrop.min.js"></script>
    <script src={{ asset('assets/js/app.js') }}></script>
    <script src={{ asset('assets/js/spop.js') }}></script>

    <!--[if lt IE 9]>
      <script src={{ asset('assets/js/vendor/html5shiv.min.js') }}></script>
      <script src={{ asset('assets/js/vendor/respond.min.js') }}></script>
    <![endif]-->

  </head>
  <body>

    <div class="modal fade" id="cropModal" role="dialog">
    <div class="modal-dialog" style="width: 965px; margin: 5% auto">
    
        <!-- Modal content-->
        <div class="modal-content">
            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            <div class="modal-body" style="float: left; padding: 35px 10px 20px 20px; margin: 0;">
                <div class="col-md-7">
                  <div class="crop-image-placeholder">
                    Будь-ласка виберіть зображення для обробки
                  </div>
                  <div id="views"></div>
                  <form id="crop-dish-image-form" style="display: none">
                    <input id="file" type="file" />
                  </form>
                </div> 
                <div class="col-md-5 col-sm-4 text-left" style="font-size: 13px; font-weight: normal">
                    <div class="col-md-12 text-left">
                        <h3 id="dish-image-crop-header" style="padding: 0; margin: 0;" id="modal-dish-name" data-crop-popup-dish-id="">Гуляш по-угорськи</h3>
                    </div>
                    <div class="col-md-12 text-left crop-step crop-step-1">
                        <div class="col-md-8 text-left">
                          <input id="choose-file" value="Вибрати зображення" class="btn btn-info btn-sm" type="button">
                          <p>
                            Натисніть вище кнопку "<b>Вибрати зображення</b>" і виберіть зображення формату <b>.jpg</b> або <b>.png</b>
                          </p>
                        </div>
                        <div class="col-md-4 text-right">
                          <div class="crop-step-circle">Крок 1</div>
                        </div>
                    </div>
                    <div class="col-md-12 text-left crop-step crop-step-2">
                        <div class="col-md-3 text-left">
                          <div class="crop-step-circle">Крок 2</div>
                        </div>
                        <div class="col-md-9 text-right">
                          <input id="cropbutton" value="Обрізати зображення" class="btn btn-info btn-sm" type="button">
                          <p>
                            Виберіть потрібну частину зображення, і натисніть вище кнопку "<b>Обрізати зображення</b>"
                          </p>
                        </div>
                    </div>
                    <div class="col-md-12 text-left crop-step crop-step-3">
                        <div class="col-md-8 text-left">
                          <input id="save-cropped-image" value="Зберегти зображення" class="btn btn-info btn-sm" type="button">
                          <p>
                            Натисніть кнопку "<b>Зберегти зображення</b>", щоб оновити його для обраної страви
                          </p>
                        </div>
                        <div class="col-md-4 text-right">
                          <div class="crop-step-circle">Крок 3</div>
                        </div>
                    </div>
                    <div class="col-md-12 text-right" style="padding-top: 20px">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="border: 1px solid #ccc">Закрити</button>
                    </div>
                </div>            
            </div>
            <div class="modal-footer" style="margin: 0; visibility: hidden;">
                <!--  -->
            </div>
        </div>
        
    </div>
    </div>
    <!-- Fixed navbar -->
    
    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar scrolled">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/order"></a>
        </div>

        {% include 'parts/menu/' ~ userRole ~ '.twig' %}
      </div>
    </nav>

    <section class="probootstrap-section probootstrap-bg-white" data-section="welcome">
      <div class="container">
        <div class="row">
            
            <div class="col-md-9 text-left" style="padding-left: 0">
                <input id="add-dish-group" name="add_dish_group" value="Додати нову групу" class="show-add-dish-group btn btn-primary" type="button">
                <div class="add-new-group-popup">
                  <div class="col-md-12 text-center" style="margin-bottom: 10px">
                    <input class="new-group-popup-input" name="name" type="text" placeholder="Назва групи страв.."/>
                  </div>
                  <div class="col-md-12 text-center">
                    <input class="close-new-group-popup btn btn-xs" type="button" value="Закрити"/>
                    <input id="save-new-dish-group" name="save_new_dish_group" value="Додати" class="create-new-group-popup-button btn btn-xs btn-primary" type="button">
                  </div>
                </div>
            </div>
            <div class="col-md-3 text-right" style="padding-right: 0; position: relative">
                <a id="cancel-changes" href="/dishes" class="btn" type="button" style="border: 1px solid #ccc; color: rgba(0, 0, 0, 0.7)">Відмінити</a>
                <input id="save-dishes" name="save_dishes" value="Зберегти" class="btn btn-primary" type="button">
            </div>
            
            <br/><br/><br/>

            <table class="table wh-table" style="cursor: pointer; width: 100%; margin: 0px">
              <tr class="wh-head">
                <th>Назва</th>
                <th>Опис</th>
                <th>Інгредієнти</th>
                <th>Калорійність</th>
                <th>Вага</th>
                <th>Ціна</th>
                <th></th>
              </tr>
            {% for group in dishes %}
                <tr>
                  <th colspan="6" class="wh-group-name">
                  <input type="text" class="dish-group-name" data-dish-group-name-id="{{ group.id }}" value="{{ group.name}}" style="float: left; width: 50%"/>
                  <input data-group-id="{{ group.id }}" value="Додати" class="btn btn-info add-new-item add-dish" type="button">
                </th>
                </tr>
                {% for dish in group.dishes %}
                  <tr class="group-{{ group.id }}" data-dish-id={{ dish.id }} data-group-id={{ group.id }}>
                    <th class="wh-name">
                      <img data-dish-image="{{dish.id}}" data-dish-image-name="{{ dish.name }}" src="{{ asset('assets/dishes/' ~ dish.id ~ '.jpg') }}" class="dish-thumbnail"/>
                      <input name="name" type="text" value="{{ dish.name }}" />
                    </th>
                    <th><input name="description" type="text" value="{{ dish.description }}" /></th>
                    <th><input name="ingredients" type="text" value="{{ dish.ingredients }}" /></th>
                    <th width="5%"><input name="calories" type="number" value="{{ dish.calories }}" /></th>
                    <th width="5%"><input name="weight" type="number" value="{{ dish.weight }}" /></th>
                    <th width="5%"><input name="price" type="number" value="{{ dish.price }}" /></th>
                    <th width="3%">
                      <a href="#" class="btn btn-danger btn-xs remove-dish" style="padding: 3px 10px 3px 10px; text-transform: lowercase">x</a>
                    </th>
                  </tr>
                {% endfor %}
            {% endfor %}
            </table>
            <hr class="bottom-table-border"/>
        </div>
      </div>
    </section>
  </body>
</html>