<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Горіховий Дім</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <link rel="stylesheet" href={{ asset('assets/css/styles-merged.css') }}>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src={{ asset('assets/js/app.js') }}></script>
    <script src={{ asset('assets/js/spop.js') }}></script>

    <!--[if lt IE 9]>
      <script src={{ asset('assets/js/vendor/html5shiv.min.js') }}></script>
      <script src={{ asset('assets/js/vendor/respond.min.js') }}></script>
    <![endif]-->

  </head>
  <body>

    <!-- Fixed navbar -->
    
    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar scrolled">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/orders"></a>
        </div>

        {% include 'parts/menu/' ~ userRole ~ '.twig' %}
      </div>
    </nav>

    <section class="probootstrap-section probootstrap-bg-white" data-section="welcome">
      <div class="container">
        <div class="row">
            
            <div class="col-md-9 text-left" style="padding-left: 0">
                <input id="add-new-company" name="add_company" value="Додати нову компанію" class="btn btn-primary show-add-new-company" type="button">
                <div class="add-new-group-popup new-company-popup">
                  <div class="col-md-12 text-center" style="margin-bottom: 10px">
                    <input class="new-group-popup-input" name="name" type="text" placeholder="Назва компанії.."/>
                  </div>
                  <div class="col-md-12 text-center">
                    <input class="close-new-group-popup btn btn-xs" type="button" value="Закрити"/>
                    <input id="save-new-company" name="save_new_company" value="Додати" class="create-new-group-popup-button btn btn-xs btn-primary" type="button">
                  </div>
                </div>
            </div>
            <div class="col-md-3 text-right" style="padding-right: 0">
                <a href="/companies" id="cancel-changes" class="btn" style="border: 1px solid #ccc; color: rgba(0, 0, 0, 0.7)">Відмінити</a>
                <input id="save-companies" name="save_companies" value="Зберегти" class="btn btn-primary" type="button">
            </div>
            
            <br/><br/><br/>

            <table class="table wh-table" style="cursor: pointer; width: 100%; margin: 0px">
              <tr class="wh-head">
                <th>Компанія/Офіс</th>
                <th>Посилання на реєстрацію користувачів</th>
              </tr>
            {% for company in companies %}
                <tr>
                  <th colspan="2" class="wh-group-name">
                    <input type="text" class="company-group-name" data-company-group-name-id="{{company.id}}" value="{{ company.name}}" style="float: left; width: 50%"/>
                    <input data-company-id="{{ company.id }}" value="Додати офіс" class="btn btn-info add-new-item add-office" type="button">
                  </th>
                </tr>
                {% for office in company.offices %}
                  <tr class="company-{{ company.id }}" data-office-id={{ office.id }} data-office-company-id="{{ company.id }}">
                    <th class="wh-name"><input class="office-address" type="text" value="{{ office.address }}" /></th>
                    <th>{{ host ~ '/registration/' ~ office.uid}}</th>
                  </tr>
                {% endfor %}
            {% endfor %}
            </table>
            <hr class="bottom-table-border"/>
        </div>
      </div>
    </section>

  </body>
</html>